<div class="container-fluid bg-primary py-5 bg-header" style="margin-bottom: 20px;">
  <div class="row py-5">
    <div class="col-12 pt-lg-5 mt-lg-5 text-center">
      <h1 class="display-4 text-white animated zoomIn">Register</h1>
    </div>
  </div>
</div>
</div>
<!-- Navbar End -->


<!-- Full Screen Search Start -->
<div class="modal fade" id="searchModal" tabindex="-1">
  <div class="modal-dialog modal-fullscreen">
    <div class="modal-content" style="background: rgba(9, 30, 62, .7);">
      <div class="modal-header border-0">
        <button type="button" class="btn bg-white btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body d-flex align-items-center justify-content-center">
        <div class="input-group" style="max-width: 600px;">
          <input type="text" class="form-control bg-transparent border-primary p-3" placeholder="Type search keyword">
          <button class="btn btn-primary px-4"><i class="bi bi-search"></i></button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Full Screen Search End -->

<div class="container-fluid py-1 wow fadeInUp" data-wow-delay="0.1s">
  <div class="container py-1">
     <div class="row g-3">
    <div class="col-md-6">
      <label for="firstname">firstname:</label>
      <input type="text" class="form-control border-0 bg-light px-4" style="height: 55px;" id="firstname" name="firstname">
    </div>
    <div class="col-md-6">
      <label for="lastname">lastname:</label>
      <input type="text" class="form-control border-0 bg-light px-4" style="height: 55px;" id="lastname" name="lastname">
    </div>
     <div class="col-md-6">
       <label for="mobile">mobile:</label>
      <input type="text" class="form-control border-0 bg-light px-4" style="height: 55px;" id="mobile" name="mobile">
    </div>
     <div class="col-md-6">
       <label for="email">email:</label>
      <input type="email" class="form-control border-0 bg-light px-4" style="height: 55px;" id="email" name="email">
    </div>
    <div class="col-md-6">
       <label for="password">password:</label>
      <input type="password" class="form-control border-0 bg-light px-4" style="height: 55px;" id="password" name="password">
    </div>
    <div class="col-12">
      <button type="submit" class="btn btn-primary w-100 py-3" id="register">SignUp</button>
    </div>
  </div>
  </div>
</div>
<script>

         $(document).ready(function(){
            $("#register").click(function(){
                  let data = {
                        firstname: $("#firstname").val(),
                        lastname: $("#lastname").val(),
                        mobile : $("#mobile").val(),
                        email: $("#email").val(),
                        password: $("#password").val()
                  }
                  $.ajax({
                        url : "/users/register",
                        method : "post",
                        dataType : "json",
                        data : data,
                        success : function(response){
                              if(response.status){

                                    Swal.fire({
                                          title: 'Register successful',
                                          text: response.message,
                                          icon: 'success',
                                    }, 3000)
                                    setTimeout(function(){
                                          window.location.href = 'login';
                                   }, 4000)
                              }else{
                                    Swal.fire({
                                          title: 'Register Failed',
                                          text: response.message,
                                          icon: 'error',
                                    }, 3000)

                              }
                        },
                        error : function(error){
                              console.log(error);
                        }
                  })
            })
         })
     </script>