<div class="container-fluid bg-primary py-5 bg-header" style="margin-bottom: 90px;">
    <div class="row py-5">
        <div class="col-12 pt-lg-5 mt-lg-5 text-center">
            <h1 class="display-4 text-white animated zoomIn">Search Engine Optimization</h1>
            <a href="/" class="h5 text-white" style="padding-right: 15px;">Home</a>
            <a href="seo" class="h5 text-white" style="padding-left: 15px;">Search Engine Optimization</a>
        </div>
    </div>
</div>
</div>
<!-- Navbar End -->


<!-- Full Screen Search Start -->
<div class="modal fade" id="searchModal" tabindex="-1">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content" style="background: rgba(9, 30, 62, .7);">
            <div class="modal-header border-0">
                <button type="button" class="btn bg-white btn-close" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body d-flex align-items-center justify-content-center">
                <div class="input-group" style="max-width: 600px;">
                    <input type="text" class="form-control bg-transparent border-primary p-3"
                        placeholder="Type search keyword">
                    <button class="btn btn-primary px-4"><i class="bi bi-search"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Full Screen Search End -->


<!-- Features Start -->
<div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container py-5">
        <div class="section-title text-center position-relative pb-3 mb-5 mx-auto" style="max-width: 600px;">
            <h5 class="fw-bold text-primary text-uppercase">Why Choose ALbos technologies for Your Search Engine
                Optimization Needs?</h5>
            <h1 class="mb-0">In the ever-evolving digital landscape, achieving online success requires more than just a
                website—it demands
                a strategic approach to Search Engine Optimization (SEO)</h1>
        </div>
        <div class="row g-5">
            <div class="col-lg-4">
                <div class="row g-5">
                    <div class="col-12 wow zoomIn" data-wow-delay="0.2s">
                        <div class="bg-primary rounded d-flex align-items-center justify-content-center mb-3"
                            style="width: 60px; height: 60px;">
                            <i class="fa fa-cubes text-white"></i>
                        </div>
                        <h4>Increased Visibility, Enhanced Credibility</h4>
                        <p class="mb-0">In a world where the majority of online experiences begin with a search engine,
                            being visible is key.
                            Our SEO strategies are designed to enhance your website's visibility on search engines,
                            ensuring
                            that potential customers find your business when they need your products or services.</p>
                    </div>
                    <div class="col-12 wow zoomIn" data-wow-delay="0.6s">
                        <div class="bg-primary rounded d-flex align-items-center justify-content-center mb-3"
                            style="width: 60px; height: 60px;">
                            <i class="fa fa-award text-white"></i>
                        </div>
                        <h4>Comprehensive Website Optimization</h4>
                        <p class="mb-0">A successful SEO strategy goes beyond keywords. We optimize every aspect of your
                            website, from meta
                            tags and content structure to site speed and mobile responsiveness.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4  wow zoomIn" data-wow-delay="0.9s" style="min-height: 350px;">
                <div class="position-relative h-100">
                    <img class="position-absolute w-100 h-100 rounded wow zoomIn" data-wow-delay="0.1s"
                        src="img/feature.jpg" style="object-fit: cover;">
                </div>
            </div>
            <div class="col-lg-4">
                <div class="row g-5">
                    <div class="col-12 wow zoomIn" data-wow-delay="0.4s">
                        <div class="bg-primary rounded d-flex align-items-center justify-content-center mb-3"
                            style="width: 60px; height: 60px;">
                            <i class="fa fa-users-cog text-white"></i>
                        </div>
                        <h4>Data-Driven Decision Making</h4>
                        <p class="mb-0">Our approach to SEO is not guesswork; it's based on data and analytics. We
                            continuously monitor and
                            analyze the performance of your SEO campaigns, allowing us to make informed decisions and
                            adjustments.</p>
                    </div>
                    <div class="col-12 wow zoomIn" data-wow-delay="0.8s">
                        <div class="bg-primary rounded d-flex align-items-center justify-content-center mb-3"
                            style="width: 60px; height: 60px;">
                            <i class="fa fa-phone-alt text-white"></i>
                        </div>
                        <h4>Competitive Edge in the Digital Arena</h4>
                        <p class="mb-0">In a crowded digital marketplace, standing out is crucial. Our SEO strategies
                            not only keep you in
                            the game but give you a competitive edge. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Features Start -->
<div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container py-5">
        <div class="section-title text-center position-relative pb-3 mb-5 mx-auto" style="max-width: 600px;">
            <h5 class="fw-bold text-primary text-uppercase">What does SEO or Search Engine Optimization include?</h5>
            <h1 class="mb-0">There are several things we focus on when improving your site ranking to ensure your
                websites organic traffic
                increases.</h1>
        </div>
        <div class="row g-5">
            <div class="col-lg-4 wow zoomIn" data-wow-delay="0.2s">
                <div class="card d-border border-white">
                    <img src="https://img.freepik.com/premium-photo/business-man-with-login-form-online-banking-shopping-payment_86639-1895.jpg?w=740"
                        class="card-img-top seo_img" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">On-Page Optimization</h5>
                        <p class="card-text">Strategic placement of keywords in titles, meta descriptions, headers, and
                            content.URL structure optimization.Image optimization for faster loading times.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 wow zoomIn" data-wow-delay="0.4s">
                <div class="card d-border border-white">
                    <img src="https://img.freepik.com/premium-photo/seo-search-engine-optimization-business-conceptual_31965-37084.jpg?w=826"
                        class="card-img-top seo_img" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Technical SEO</h5>
                        <p class="card-text">Website crawlability and indexing optimization.XML sitemap creation and
                            submission.Robots.txt file optimization.Fixing crawl errors and broken links.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 wow zoomIn" data-wow-delay="0.6s">
                <div class="card d-border border-white">
                    <img src="img/medium-shot-men-holding-smartphone.jpg" class="card-img-top seo_img" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Social Media Integration</h5>
                        <p class="card-text">Utilizing social media signals for improved search engine
                            rankings.Integrating social sharing buttons on the website.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mt-3 py-3 wow zoomIn" data-wow-delay="0.7s">
                <div class="card d-border border-white">
                    <img src="https://img.freepik.com/premium-photo/full-concentration-work-group-young-business-people-working-chatting-studying_795700-21.jpg?w=740"
                        class="card-img-top seo_img" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Competitor Analysis</h5>
                        <p class="card-text">Analysis of competitors' SEO strategies and performance.Identification of
                            opportunities and areas for improvement.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mt-3 py-3 wow zoomIn" data-wow-delay="0.8s">
                <div class="card d-border border-white">
                    <img src="https://img.freepik.com/free-photo/people-office-analyzing-checking-finance-graphs_23-2150377145.jpg?w=740&t=st=1704698230~exp=1704698830~hmac=4701ed59a98bb39e67390da34372923888b83ee3c81cf6ea4806c74e010eff65"
                        class="card-img-top seo_img" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Conversion Rate Optimization (CRO)</h5>
                        <p class="card-text">Analyzing user behavior and making adjustments to improve conversion
                            rates.A/B testing of various elements to optimize for conversions.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mt-3 py-3 wow zoomIn" data-wow-delay="0.9s">
                <div class="card d-border border-white">
                    <img src="https://img.freepik.com/free-photo/person-working-html-computer_23-2150038840.jpg?w=740&t=st=1704698331~exp=1704698931~hmac=0e1bbc9dede4bacaa6cee4ed641b068d6d9f8c32e18b1ad175e8da614af5a39f"
                        class="card-img-top seo_img" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Algorithm Updates and Adaptation</h5>
                        <p class="card-text">Staying informed about search engine algorithm updates.Adjusting strategies
                            to align with the latest SEO best practices.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>