<div class="container-fluid bg-primary py-5 bg-header" style="margin-bottom: 90px;">
    <div class="row py-5">
        <div class="col-12 pt-lg-5 mt-lg-5 text-center">
            <h1 class="display-4 text-white animated zoomIn">Services</h1>
            <a href="/" class="h5 text-white" style="padding-right: 15px;">Home</a>
            <a href="service" class="h5 text-white" style="padding-left: 15px;">Services</a>
        </div>
    </div>
</div>
</div>
<!-- Full Screen Search Start -->
<div class="modal fade" id="searchModal" tabindex="-1">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content" style="background: rgba(9, 30, 62, .7);">
            <div class="modal-header border-0">
                <button type="button" class="btn bg-white btn-close" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body d-flex align-items-center justify-content-center">
                <div class="input-group" style="max-width: 600px;">
                    <input type="text" class="form-control bg-transparent border-primary p-3"
                        placeholder="Type search keyword">
                    <button class="btn btn-primary px-4"><i class="bi bi-search"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Full Screen Search End -->


<!-- Service Start -->
<div class="container-fluid py-3 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container py-3">
        <div class="section-title text-center position-relative pb-3 mb-5 mx-auto" style="max-width: 600px;">
            <h5 class="fw-bold text-primary text-uppercase">Our Services</h5>
            <h1 class="mb-0">Explore Solutions for Your Successful Business</h1>
        </div>
        <div class="row g-5">
            <div class="col-lg-4 col-md-6 wow zoomIn" data-wow-delay="0.3s">
                <div class="card d-border border-white" style="height: 500px;" id="social_card">
                    <img src="https://img.freepik.com/free-photo/hand-holding-smartphone-social-media-concept_23-2150208245.jpg?w=740&t=st=1704698687~exp=1704699287~hmac=0c8923e0bea99b838d4df73b04ff930b291490bd92ac65bdc84e7ff54514c044"
                        class="img-fluid card-img-top seo_img">
                    <div class="card-body">
                        <h5 class="card-title text-primary">Social Media Marketing</h5>
                        <p class="card-text text-dark">Build, attract, electrify and manage your
                            digital community with
                            innovative content that resonates with your target audience.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow zoomIn" data-wow-delay="0.6s">
                <div class="card d-border border-white" style="height: 500px;" id="seo_card">
                    <img src="https://img.freepik.com/premium-photo/seo-search-engine-optimization-online-branding-link-building-screen_593195-743.jpg?w=740"
                        class="img-fluid card-img-top seo_img">
                    <div class="card-body">
                        <h5 class="card-title text-primary">SEO Optimization</h5>
                        <p class="card-text text-dark">We develop an elite SEO strategy using an
                            all-round approach. Success
                            is obtained when we create a sustainable future for your website, achieving and
                            surpassing your goals!
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow zoomIn" data-wow-delay="0.9s" style="height: 450px;">
                <div class="position-relative bg-primary rounded d-flex flex-column align-items-center justify-content-center text-center p-5"
                    style="height:500px;">
                    <h3 class="text-white mb-3">Call Us For enquiry</h3>
                    <p class="text-white mb-3">Your Success Story Begins with a Simple Enquiry. Contact Us Today and
                        Unlock the Path to Digital Excellence. #EnquireNow"</p>
                    <h3 class="text-white mb-0">+91 9766650411</h3>
                    <a href="#" class="btn btn-primary py-3 px-5 mt-3 wow zoomIn"
                        data-wow-delay="0.9s"><big>Call</big></a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Service End -->


<!-- Testimonial Start -->
<div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container py-5">
        <div class="section-title text-center position-relative pb-3 mb-4 mx-auto" style="max-width: 600px;">
            <h5 class="fw-bold text-primary text-uppercase">Testimonial</h5>
            <h1 class="mb-0">What Our Clients Say About Our Digital Services</h1>
        </div>
        <div class="owl-carousel testimonial-carousel wow fadeInUp" data-wow-delay="0.6s">
            <div class="testimonial-item bg-light my-4">
                <div class="d-flex align-items-center border-bottom pt-5 pb-4 px-5">
                    <img class="img-fluid rounded" src="img/testimonial-1.jpg" style="width: 60px; height: 60px;">
                    <div class="ps-4">
                        <h4 class="text-primary mb-1">Swati Bhargava </h4>
                        <small class="text-uppercase">Founder & CEO</small>
                        {{!-- <small class="text-uppercase">Success Gyan</small> --}}
                    </div>
                </div>
                <div class="pt-4 pb-5 px-5">
                    Working with Albos technologies has been a game-changer for our digital presence.Their strategic
                    approach to SEO Optimization and commitment to results have exceeded our expectations. Our online
                    engagement and conversions have seen a remarkable boost. Albos technologies is a true partner in our
                    success!
                </div>
            </div>
            <div class="testimonial-item bg-light my-4">
                <div class="d-flex align-items-center border-bottom pt-5 pb-4 px-5">
                    <img class="img-fluid rounded" src="img/testimonial-2.jpg" style="width: 60px; height: 60px;">
                    <div class="ps-4">
                        <h4 class="text-primary mb-1">Surendran J</h4>
                        <small class="text-uppercase">Co-Founder</small>
                        {{!-- <small class="text-uppercase">CashKaro.com</small> --}}
                    </div>
                </div>
                <div class="pt-4 pb-5 px-5">
                    We chose Albos technologies for their expertise in Social Media Marketing, and they delivered beyond
                    our expectations. The personalized solutions they provided not only aligned with our brand but also
                    addressed our unique challenges. The team's dedication and transparent communication made the entire
                    process smooth and effective.
                </div>
            </div>
            <div class="testimonial-item bg-light my-4">
                <div class="d-flex align-items-center border-bottom pt-5 pb-4 px-5">
                    <img class="img-fluid rounded" src="img/testimonial-3.jpg" style="width: 60px; height: 60px;">
                    <div class="ps-4">
                        <h4 class="text-primary mb-1">Naru Narayanan</h4>
                        <small class="text-uppercase">Co-Founder</small>
                        {{!-- <small class="text-uppercase">Xcode Life Sciences</small> --}}
                    </div>
                </div>
                <div class="pt-4 pb-5 px-5">
                    We've worked with several digital service providers, but Albos technologies stands out for their
                    commitment to excellence. From the initial consultation to the ongoing support, their team has been
                    responsive, proactive, and focused on delivering measurable results. We highly recommend Albos
                    technologies to anyone seeking top-notch digital services.
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<!-- Testimonial End -->
<script>
    $(document).ready(function(){
        $("#social_card").click(function(){
            window.location.href = 'smm';
        });
         $("#seo_card").click(function(){
            window.location.href = 'seo';
        });
    });
</script>