<div class="container-fluid bg-primary py-5 bg-header" style="margin-bottom: 90px;">
    <div class="row py-5">
        <div class="col-12 pt-lg-5 mt-lg-5 text-center">
            <h1 class="display-4 text-white animated zoomIn">Social Media Marketing</h1>
            <a href="/" class="h5 text-white" style="padding-right: 15px;">Home</a>
            <a href="social-media" class="h5 text-white" style="padding-left: 15px;">Social Media Marketing</a>
        </div>
    </div>
</div>
</div>
<!-- Navbar End -->


<!-- Full Screen Search Start -->
<div class="modal fade" id="searchModal" tabindex="-1">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content" style="background: rgba(9, 30, 62, .7);">
            <div class="modal-header border-0">
                <button type="button" class="btn bg-white btn-close" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body d-flex align-items-center justify-content-center">
                <div class="input-group" style="max-width: 600px;">
                    <input type="text" class="form-control bg-transparent border-primary p-3"
                        placeholder="Type search keyword">
                    <button class="btn btn-primary px-4"><i class="bi bi-search"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Full Screen Search End -->


<!-- Features Start -->
<div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container py-5">
        <div class="section-title text-center position-relative pb-3 mb-5 mx-auto" style="max-width: 600px;">
            <h5 class="fw-bold text-primary text-uppercase">Why Choose ALbos technologies for Your Social Media
                Marketing Needs?</h5>
            <h1 class="mb-0">Our mission is to be your trusted partner in achieving sustained
                growth
                and
                success.</h1>
        </div>
        <div class="row g-5">
            <div class="col-lg-4">
                <div class="row g-5">
                    <div class="col-12 wow zoomIn" data-wow-delay="0.2s">
                        <div class="bg-primary rounded d-flex align-items-center justify-content-center mb-3"
                            style="width: 60px; height: 60px;">
                            <i class="fa fa-cubes text-white"></i>
                        </div>
                        <h4>Strategic Planning for Targeted Results</h4>
                        <p class="mb-0">Our team of seasoned digital marketing experts takes a tailored approach to
                            understand
                            your business
                            goals, target audience, and industry nuances.</p>
                    </div>
                    <div class="col-12 wow zoomIn" data-wow-delay="0.6s">
                        <div class="bg-primary rounded d-flex align-items-center justify-content-center mb-3"
                            style="width: 60px; height: 60px;">
                            <i class="fa fa-award text-white"></i>
                        </div>
                        <h4>Conversion-focused Campaigns</h4>
                        <p class="mb-0">Through
                            carefully crafted content, engaging visuals, and user-friendly experiences, we optimize your
                            digital
                            channels to drive conversions and boost your bottom line.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4  wow zoomIn" data-wow-delay="0.9s" style="min-height: 350px;">
                <div class="position-relative h-100">
                    <img class="position-absolute w-100 h-100 rounded wow zoomIn" data-wow-delay="0.1s"
                        src="img/feature.jpg"
                        style="object-fit: cover;">
                </div>
            </div>
            <div class="col-lg-4">
                <div class="row g-5">
                    <div class="col-12 wow zoomIn" data-wow-delay="0.4s">
                        <div class="bg-primary rounded d-flex align-items-center justify-content-center mb-3"
                            style="width: 60px; height: 60px;">
                            <i class="fa fa-users-cog text-white"></i>
                        </div>
                        <h4>Holistic Online Presence</h4>
                        <p class="mb-0">We go beyond traditional marketing approaches, ensuring your business has a
                            strong and
                            cohesive online
                            presence across various platforms.</p>
                    </div>
                    <div class="col-12 wow zoomIn" data-wow-delay="0.8s">
                        <div class="bg-primary rounded d-flex align-items-center justify-content-center mb-3"
                            style="width: 60px; height: 60px;">
                            <i class="fa fa-phone-alt text-white"></i>
                        </div>
                        <h4>Transparent Analytics and Reporting</h4>
                        <p class="mb-0">We believe in transparency and accountability. Our detailed analytics and
                            regular
                            reporting keep you
                            informed about the performance of your digital campaigns.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Features Start -->
<div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container py-5">
        <div class="section-title text-center position-relative pb-3 mb-5 mx-auto" style="max-width: 600px;">
            <h5 class="fw-bold text-primary text-uppercase">What does Social Media marketing include?</h5>
            <h1 class="mb-0">There are several things we focus on when improving your site ranking to ensure your
                websites organic traffic
                increases.</h1>
        </div>
        <div class="row g-5">
            <div class="col-lg-4 wow zoomIn" data-wow-delay="0.2s">
                <div class="card d-border border-white">
                    <img src="https://img.freepik.com/free-photo/hand-holding-smartphone-social-media-concept_23-2150208245.jpg?w=740&t=st=1704698687~exp=1704699287~hmac=0c8923e0bea99b838d4df73b04ff930b291490bd92ac65bdc84e7ff54514c044"
                        class="card-img-top seo_img">
                    <div class="card-body">
                        <h5 class="card-title">Social Media Advertising</h5>
                        <p class="card-text">Creation and management of paid advertising campaigns on social media
                            platforms.Targeted ad placement to reach specific demographics, interests, and behaviors.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 wow zoomIn" data-wow-delay="0.4s">
                <div class="card d-border border-white">
                    <img src="https://img.freepik.com/free-photo/media-journalism-global-daily-news-content-concept_53876-123733.jpg?w=740&t=st=1704698867~exp=1704699467~hmac=ed5f649f9871c9de3892f46940fdf472c48d08e36ed72ca10ab5aa5b2c8d2d56"
                        class="card-img-top seo_img" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Content Creation and Curation</h5>
                        <p class="card-text">Development of engaging and shareable content tailored to each
                            platform.Curating relevant and industry-specific content to supplement your strategy.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 wow zoomIn" data-wow-delay="0.6s">
                <div class="card d-border border-white">
                    <img src="https://img.freepik.com/free-photo/search-engine-marketing-composition-design_23-2150923510.jpg?w=740&t=st=1704698923~exp=1704699523~hmac=f2e1bc2a03fa2bdbb1420720ebfcf34306b1bc74e0c93a325b00f9f4a5bc0a20"
                        class="card-img-top seo_img">
                    <div class="card-body">
                        <h5 class="card-title">Social Media Strategy Development</h5>
                        <p class="card-text">Customized strategy creation based on business goals and target audience.
                            I dentification of key performance indicators (KPIs) for measurement.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mt-3 py-3 wow zoomIn" data-wow-delay="0.7s">
                <div class="card d-border border-white">
                    <img src="https://img.freepik.com/free-photo/paper-analysis_1098-15678.jpg?w=740&t=st=1704698957~exp=1704699557~hmac=14b1e31599eb6adb27091ae65dac816e9c9dfc67bb1cacd4a3651a1934823269"
                        class="card-img-top seo_img" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Analytics and Reporting</h5>
                        <p class="card-text">Regular monitoring of social media analytics.Comprehensive reporting on the
                            performance of campaigns and strategies.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mt-3 py-3 wow zoomIn" data-wow-delay="0.8s">
                <div class="card d-border border-white">
                    <img src="https://img.freepik.com/free-photo/standard-quality-control-collage-concept_23-2149595836.jpg?w=740&t=st=1704699017~exp=1704699617~hmac=e38d9c22e3d744ecff3c77c6f8d1f437ad809195138f419d93e010a0cee5f885"
                        class="card-img-top seo_img" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Cross-Platform Integration</h5>
                        <p class="card-text">Integrating social media efforts with other digital marketing channels for
                            a cohesive strategy.Ensuring consistency in messaging and branding across platforms.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mt-3 py-3 wow zoomIn" data-wow-delay="0.9s">
                <div class="card d-border border-white">
                    <img src="https://img.freepik.com/premium-photo/hand-holding-smartphone-social-media-concept_23-2150208261.jpg?w=740"
                        class="card-img-top seo_img" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Influencer Marketing</h5>
                        <p class="card-text">Identification and collaboration with influencers relevant to your
                            industry.Leveraging influencer partnerships to expand reach and credibility.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>