<div class="container-fluid bg-primary py-5 bg-header" style="margin-bottom: 20px;">
  <div class="row py-5">
    <div class="col-12 pt-lg-5 mt-lg-5 text-center">
      <h1 class="display-4 text-white animated zoomIn">Payment successful</h1>
    </div>
  </div>
</div>
</div>
<!-- Navbar End -->


<!-- Full Screen Search Start -->
<div class="modal fade" id="searchModal" tabindex="-1">
  <div class="modal-dialog modal-fullscreen">
    <div class="modal-content" style="background: rgba(9, 30, 62, .7);">
      <div class="modal-header border-0">
        <button type="button" class="btn bg-white btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body d-flex align-items-center justify-content-center">
        <div class="input-group" style="max-width: 600px;">
          <input type="text" class="form-control bg-transparent border-primary p-3" placeholder="Type search keyword">
          <button class="btn btn-primary px-4"><i class="bi bi-search"></i></button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Full Screen Search End -->

<div class="container-fluid py-1 wow fadeInUp" data-wow-delay="0.1s">
  <div class="container py-1">
    <div class="row g-5">
      <div class="col-12 wow zoomIn" data-wow-delay="0.2s">
        <div class="card text-center" style="border: none;">
          <div class="card-body">
            <h5 class="card-title">Payment successful</h5>
            <a href="dashboard" class="btn btn-primary">Go to dashboard</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>